/*
/*
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/

figure {
    margin-top: 0rem;
}

#video_background {
    padding: 21rem 0;
}

#start_header {
    font-size: 5rem;
}

#sticky-top_custom_blog_masonry {
    top: 5.5rem;
}

#menu_active_item {
    margin-left: 19px;
}

.my-answers {
    margin-bottom: 1rem;
}

.answer-to-comment-link {
    color: #3755BE;
    text-decoration: none;
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
}

.answer-to-comment-link:hover {
    color: #263a83;
    text-decoration: none;
}

/*это хак для сафари чтобы параллакс работал нормально*/
#jarallax-container-0 {
    clip-path: border-box !important;
}

.alignImageCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px
}

#qrc_inst {
    width: 100px;
    height: 100px;
}

.fix_padding_social {
    padding-top: 32px;
}

